/* Dev Tools
---------------------------------------------------------------------- */
#breakpoints {
	position: fixed;
	bottom:0;
	right: 0;
	@include rem(padding, 10px);
	background-color: black;
	color: white;
	z-index: 9999;
}

/** Vertically Center Content in a Div **/
.vcenter-outer {
	display: table;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.vcenter-inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}